$primaryBtn: red;
$textColor: black;

header {
  background: lightgreen;
  display: flex;
  justify-content: center;
  color: $textColor;
  button {
    background: $primaryBtn;
    &::after {
      content: "Helllooo";
    }
  }
}

.contact button {
  background: $primaryBtn;
}
